<div class="container">
    <div class="form-group row">
        <div class="col-4">
          <input class="form-control" [(ngModel)]="bookingID" dir="rtl" type="text"  placeholder="{{'find-passenger.label-booking-id' | translate}}" id="example-search-input">
        </div>
        <button class="btn btn-success col-1"  (click)="findPassanger(bookingID)" >{{'find-passenger.label-find' | translate}}</button>
      </div>

      {{message}}

<form>

    <!-- <div class="form-row">
        <div class="form-group row ">
          <label for="inputEmail4" class="col-md-1 col-form-label">ID:</label>
          <div class="col-md-3">
            <input type="number"  [(ngModel)]="passanger.ID" class="form-control" name="passanger.ID" id="inputEmail4" placeholder="ID">
          </div>
        </div> -->
        <div class="form-row">
          <h2>{{'find-passenger.label-edit-fields' | translate}}</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputZip">{{'find-passenger.label-leisure-consultant' | translate}}</label>
                <input type="text" readonly [(ngModel)]="passanger.lC_First_Name + ' ' + passanger.lC_Last_Name" name="passanger.Leisure_consultants"  class="form-control" id="inputZip" >
              </div>
            <div class="form-group col-md-4">
              <label for="inputCity">{{'find-passenger.label-contact-number' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.contact_Number" name="passanger.Contact_number" class="form-control" id="Paxname" >
            </div>
    
            <div class="form-group col-md-4">
                <label for="inputState">{{'find-passenger.label-room-number' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.room_Number" name="passanger.Room_number" class="form-control" id="Pax name">
          </div>
          </div>
          <div class="form-row">
        <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-passenger-type' | translate}}</label>
              <!-- <input type="text" [(ngModel)]="passanger.passenger_type" name="passanger.Passenger_type" class="form-control" id="inputZip" > -->
              <select class="form-control" name="passanger.Passenger_type" [(ngModel)]="passanger.passenger_Type"  id="exampleSelect1">
                <option  *ngFor="let option of options" value="{{option.id}}">{{option.name}}</option>
              </select>
              
        </div>
        <div class="form-group col-md-4">
                <label for="inputZip">{{'find-passenger.label-check-by-rep' | translate}}</label>
                <input type="checkbox" [(ngModel)]="passanger.check_By_Rep" name="passanger.check_by_REP" class="form-control" id="inputZip" >
              </div>
              <div class="form-group col-md-4">
                      <label for="inputZip">{{'find-passenger.label-check-by-rep' | translate}}</label>
                      <input type="checkbox" [(ngModel)]="passanger.check_By_Lc" name="passanger.check_by_LC" class="form-control" id="inputZip" >
              </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
              <label for="inputZip">{{'find-passenger.label-datetime-arrival' | translate}}</label>
              <input type="text" readonly [ngModel]="passanger.datetime_Arrival | date:'medium'"  name="passanger.datetime_Arrival" class="form-control" id="inputZip" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">{{'find-passenger.label-datetime-departure' | translate}}</label>
                <input type="text" readonly [ngModel]="passanger.datetime_Departure | date:'medium'"  name="passanger.datetime_Departure" class="form-control" id="inputZip" >
              </div>

              <div class="form-group col-md-3">
                <label for="inputZip">{{'find-passenger.label-pickup-time' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.pickup_Time"  name="passanger.pickup_Time" class="form-control" id="inputZip" >
              </div>
              <div class="form-group col-md-3">
                <label for="inputZip">{{'find-passenger.label-remarks-field' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.remarks_Field"  name="passanger.remarks_Field" class="form-control" id="inputZip" >
              </div>

        </div>
        <div class="form-row">
      
          <div class="col-md-11"></div>
          <button class="btn btn-success float-right" (click)="savePassengerInfo()">{{'find-passenger.label-save' | translate}}</button>

        </div>
        <div class="form-row">
            <h2>{{'find-passenger.label-other-info' | translate}}</h2>
          </div>

    <div class="form-row">
      <div class="form-group col-md-1">
        <label for="inputEmail4">{{'find-passenger.label-id' | translate}}</label>
        <input type="number" [(ngModel)]="passanger.id" class="form-control" readonly name="passanger.ID" id="inputEmail4">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">{{'find-passenger.label-booking-id' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.booking_Id" readonly class="form-control" name="passanger.Booking_Id" id="inputPassword4" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputAddress">{{'find-passenger.label-booking-date' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.booking_Date" readonly class="form-control" name="passanger.Booking_Date" id="inputAddress" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputAddress2">{{'find-passenger.label-hotel-name' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.hotel_Name" readonly name="passanger.Hotel_Name"  class="form-control" id="inputAddress2" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">{{'find-passenger.label-pax-name' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.pax_Name" readonly name="passanger.Pax_Name" class="form-control" id="Paxname" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">{{'find-passenger.label-number-of-pax' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.number_Of_Pax" readonly name="passanger.Number_Of_Pax" class="form-control" id="Pax name" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">{{'find-passenger.label-supplier-reference' | translate}}</label>
        <input type="text" [(ngModel)]="passanger.supplier_Reference" readonly name="passanger.Supplier_reference" class="form-control" id="inputZip" >
      </div>
  
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-room-type' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.room_Type" readonly name="passanger.Room_type" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-number-of-rooms' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.number_Of_Rooms"readonly name="passanger.Number_of_rooms" class="form-control" id="inputZip" >
          </div>
        <!-- <div class="form-group col-md-4">
            <label for="inputZip">Leasuremant customer</label>
            <input type="text" [(ngModel)]="passanger.Leasuremant_customer" name="passanger.Leasuremant_customer" class="form-control" id="inputZip" >
          </div>
        <div class="form-group col-md-3">
          <label for="inputCity">Contact_number</label>
          <input type="text" [(ngModel)]="passanger.Contact_number" name="passanger.Contact_number" class="form-control" id="Paxname" >
        </div> -->
        <div class="form-group col-md-4">
            <label for="inputZip">{{'find-passenger.label-leaving-from' | translate}}</label>
            <input type="text" [(ngModel)]="passanger.leaving_From" readonly name="passanger.Leaving_From" class="form-control" id="inputZip" >
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="inputState">{{'find-passenger.label-supplier-arrival' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.supplier_Arrival" readonly name="passanger.Supplier_Arrival" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-terminal-arrival' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.terminal_Arrival" readonly name="passanger.Terminal_Arrival" class="form-control" id="inputZip" >
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-car-name-arrival' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.car_Name_Arrival" readonly name="passanger.Car_Name_Arrival" class="form-control" id="inputZip" >
            </div>

      </div>
      <div class="form-row">
   
          <div class="form-group col-md-4">
              <label for="inputState">{{'find-passenger.label-car-transfer-type-arrival' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.car_Transfer_Type_Arrival" readonly name="passanger.Car_Transfer_Type_Arrival" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-4">
            <label for="inputZip">{{'find-passenger.label-airline-arrival' | translate}}</label>
            <input type="text" [(ngModel)]="passanger.airline_Arrival" readonly name="passanger.Airline_Arrival" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">{{'find-passenger.label-flight-number-arrival' | translate}}</label>
            <input type="text" [(ngModel)]="passanger.flightNo_Arrival" readonly name="passanger.FlightNo_Arrival" class="form-control" id="inputZip" >
          </div>
      </div>
      <div class="form-row">

          <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-going-to' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.going_To" readonly name="passanger.Going_to" class="form-control" id="inputZip">
            </div>
          <div class="form-group col-md-4">
              <label for="inputState">{{'find-passenger.label-supplier-departure' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.supplier_Departure" readonly name="passanger.Supplier_Departure" class="form-control" id="Pax name" >
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-terminal-departure' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.terminal_Departure" readonly name="passanger.Terminal_Departure" class="form-control" id="inputZip" >
            </div>
      </div>
      <div class="form-row">
          <!-- <div class="form-group col-md-4">
              <label for="inputZip">DateTime Departure</label>
              <input type="text" [(ngModel)]="passanger.DateTime_Departure" readonly name="passanger.DateTime_Departure" class="form-control" id="inputZip" >
            </div> -->
   
            <div class="form-group col-md-4">
                <label for="inputZip">{{'find-passenger.label-car-name-departure' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.car_Name_Departure" readonly name="passanger.Car_Name_Departure" class="form-control" id="inputZip" >
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">{{'find-passenger.label-car-transfer-type-departure' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.car_Transfer_Type_Departure" readonly name="passanger.Car_Transfer_Type_Departure" class="form-control" id="Pax name" >
              </div>
              <div class="form-group col-md-4">
                <label for="inputZip">{{'find-passenger.label-airline-departure' | translate}}</label>
                <input type="text" [(ngModel)]="passanger.airline_Departure" readonly name="passanger.Airline_Departure" class="form-control" id="inputZip" >
              </div>
      </div>

      <div class="form-row">
  
          <div class="form-group col-md-4">
              <label for="inputZip">{{'find-passenger.label-flight-number-departure' | translate}}</label>
              <input type="text" [(ngModel)]="passanger.flightNo_Departure" readonly name="passanger.FlightNo_Departure" class="form-control" id="inputZip" >
            </div>

      </div>

    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
  </form>
  </div>
