<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >Mini CS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
      <li class="nav-item dropdown" ngbDropdown *ngIf="admin">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle style="cursor: pointer;"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'nav-bar.label-admin-panel' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="upload">Upload</a>
          <a class="dropdown-item" routerLink="consultants">Add Consultant</a>
          <a class="dropdown-item" routerLink="hotels">Manage Hotels</a>
          <a class="dropdown-item" routerLink="passenger-type">Passenger type</a>
        </div>
      </li>
      <li class="nav-item " *ngIf="loggedIn">
          <a class="nav-link" routerLink="travel-list">{{'nav-bar.label-travel-list' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="loggedIn">
            <a class="nav-link" routerLink="find-passenger">{{'nav-bar.label-find-passenger' | translate}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item " *ngIf="loggedIn">
              <a class="nav-link" routerLink="check-hotel">{{'nav-bar.label-check-hotel' | translate}}<span class="sr-only">(current)</span></a>
            </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle style="cursor: pointer;"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'nav-bar.label-change-language' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" style="cursor: pointer;" (click)="changeLang('en_UK')">English</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="changeLang('fa_FA')">Farsi</a>
        </div>
      </li>

      <!-- (click)="changeLang('en_US')" -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <!-- <li class="nav-item ">
            <a class="nav-link" routerLink="login">Logout<span class="sr-only">(current)</span></a>
          </li> -->
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="نام کاربری" aria-label="نام کاربری">
      <input class="form-control mr-sm-2" type="search" placeholder="کلمه عبور" aria-label="کلمه عبور">-->
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" *ngIf="loggedIn" type="submit">Logout</button> 
    </form>
  </div>
</nav>