<div class="container">
    <div class="form-row">
        <div class=" col-lg-6 col-sm-12  vl">
            <h2>{{'manage-hotels.label-find-hotel' | translate}}</h2>
            <div class="form-group row">
               <div class="col-8">
                 <input class="form-control"  type="text" [(ngModel)]="searchText.hotel_Name" value="How do I shoot web" id="example-search-input">
               </div>
               
             </div>
    <h2>{{'manage-hotels.label-hotels-list' | translate}}</h2>
    <div class="form-group row" *ngFor="let hotel of hotelsList  | filterBy: searchText">
      <div class="col-6">
        {{hotel.hotel_Name}}
      </div>
      
      <!-- <label for="example-text-input" class="col-2 col-form-label">{{ 'admin-panel.label-username' | translate }}</label> -->
      <div class="col-6">
        <select class="form-control" (ngModelChange)="consultantChanged($event, hotel)" [ngModel]="hotel.user_Id" name="hotel-LC">
          <option  *ngFor="let lc of leisureConsultantsList" value="{{lc.id}}">{{lc.first_Name}} {{lc.last_Name}}</option>
        </select>
      </div>
    </div>
    <li *ngIf="(hotelsList | filterBy: searchText).length === 0">No matching elements</li>
    </div>
    </div>
    </div>