
.btn {
 margin-left: -15px;
}

.container{
    padding-top: 50px;
}
h2{
    padding-bottom: 30px;
}

input .form-control{
    color: red;
  }

  :host /deep/ .fa-plus{
    color: blue;
    text-align: center;
    /* padding-left: 30%; */
    font-size: 20px;
  }

  :host /deep/ .fa-check{
    color: green;
    padding-left: 20%;
    font-size: 20px;
  }
  :host /deep/ .fa-ban {
    color: red;
    padding-left: 20%;
    font-size: 20px;
  }

  :host /deep/ .fa-pencil-alt {
    padding-left:15%;
    font-size: 20px;
  }

  :host /deep/ .fa-times {
    color: red;
    padding-left:15%;
    font-size: 20px;
  }

  :host /deep/ .ng2-smart-actions-title-add{
    text-align: center;
  }