<div class="container">
    <form  *ngFor="let passenger of passengers">
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="inputEmail4">{{'check-hotel.label-id' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.id" class="form-control" name="passanger.ID" id="inputEmail4" >
          </div>
          <div class="form-group col-md-3">
            <label for="inputPassword4">{{'check-hotel.label-booking-id' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.booking_Id"  class="form-control" name="passanger.Booking_Id" id="inputPassword4" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputAddress">{{'check-hotel.label-booking-date' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.booking_Date" class="form-control" name="passanger.Booking_Date" id="inputAddress" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputAddress2">{{'check-hotel.label-hotel-name' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.hotel_Name" name="passanger.Hotel_Name"  class="form-control" id="inputAddress2" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">{{'check-hotel.label-pax-name' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.pax_Name" name="passanger.Pax_Name" class="form-control" id="Paxname" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">{{'check-hotel.label-datetime-arrival' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.datetime_Arrival" name="passanger.DateTime_Arrival" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">{{'check-hotel.label-supplier-reference' | translate}}:</label>
            <input type="text" [(ngModel)]="passenger.supplier_Reference" name="passanger.Supplier_reference" class="form-control" id="inputZip" >
          </div>
      
            </div>
            <button type="submit" (click)="sendBookingID(passenger.booking_Id)" class="btn btn-info">{{'check-hotel.label-more-info' | translate}}</button>
      </form>
</div>