:host {
    font-size: 1rem;
  }
  :host /deep/ * {
    box-sizing: border-box;
  }
  :host /deep/ button, :host /deep/ input, :host /deep/ optgroup, :host /deep/ select, :host /deep/ textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  :host /deep/ table {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
  }
  :host /deep/ table tr th {
    font-weight: bold;
     /*my styles */
    min-width: 100px;
    max-width:100%;
    white-space:nowrap;
  }
  :host /deep/ table tr section {
    font-size: 0.75em;
    font-weight: bold;
  }
  :host /deep/ table tr td, :host /deep/ table tr th {
    font-size: 0.875em;
    margin: 0;
    padding: 0.5em 1em;
    /*my styles */
    min-width: 100px;
    max-width:100%;
    white-space:nowrap;
    border: 1px solid black;
  }
  :host /deep/ a {
    color: #1e6bb8;
    text-decoration: none;
  }
  :host /deep/ a:hover {
    text-decoration: underline;
  }
  
h2{
    padding-left: 15px;
    padding-top: 20px;
}
  .smart-table{
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
  }

  /* :host /deep/ ng2-smart-table thead > tr > th { direction: rtl; } */

  /* ng2-smart-table thead > tr > th {
    direction: rtl;
  } */

  input .form-control{
    color: red;
  }

