<div class="container">
    <h2>{{'upload.label-upload-file' | translate}}:</h2>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">{{'upload.label-upload-arrival-list' | translate}}</label>
  <div class="col-6">
    <input class="form-control" type="file"  (change)="arrivalListFileChange($event)" accept=".xls, .xlsx"  id="upload-arrival-list">
  </div>
  <button class="btn btn-success col-1" (click)="uploadArrivalListFile()" >{{'upload.label-upload-button' | translate}}</button>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">{{'upload.label-upload-travel-list' | translate}}</label>
  <div class="col-6">
    <input class="form-control" type="file" (change)="travelListFileChange($event)"  id="upload-transfer-list">
  </div>
  <button class="btn btn-success col-1" (click)="uploadTransferListFile()">{{'upload.label-upload-button' | translate}}</button>
</div>
<div class="form-group row">
  <div class="col-7">
   <h3> {{'upload.label-upload-rules' | translate}}: </h3>
   <p>1. {{'upload.label-first-rule' | translate}}</p>
   <p>2. {{'upload.label-second-rule' | translate}}</p>
   <p>3. {{'upload.label-third-rule' | translate}}</p>
</div>
</div>
</div>


<!-- <input  value="{{val}}" (focus)="sendID(i+'-'+j)"> -->
<!-- <table class="sjs-table">
  <tr *ngFor="let row of data; let i = index">
    <td *ngFor="let val of row; let j = index" id="{{i+'-'+j}}" (click)="sendID(i+'-'+j)" >
      {{val}}
    </td>
  </tr>
</table> -->




<!-- <table class="sjs-table">
  <tr *ngFor="let row of data1">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table> -->




