<div class="container">
    <div class="form-group row">
        <div class="col-4">
          <input class="form-control" [(ngModel)]="bookingID" dir="rtl" type="text"  placeholder="Booking ID" id="example-search-input">
        </div>
        <button class="btn btn-success col-1"  (click)="findPassanger(bookingID)" >Find</button>
      </div>

<form>

    <!-- <div class="form-row">
        <div class="form-group row ">
          <label for="inputEmail4" class="col-md-1 col-form-label">ID:</label>
          <div class="col-md-3">
            <input type="number"  [(ngModel)]="passanger.ID" class="form-control" name="passanger.ID" id="inputEmail4" placeholder="ID">
          </div>
        </div> -->

    <div class="form-row">
      <div class="form-group col-md-1">
        <label for="inputEmail4">ID:</label>
        <input type="number" [(ngModel)]="passanger.ID" class="form-control" name="passanger.ID" id="inputEmail4">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Booking ID:</label>
        <input type="text" [(ngModel)]="passanger.Booking_Id" class="form-control" name="passanger.Booking_Id" id="inputPassword4" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputAddress">Booking Date:</label>
        <input type="text" [(ngModel)]="passanger.Booking_Date" class="form-control" name="passanger.Booking_Date" id="inputAddress" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputAddress2">Hotel Name:</label>
        <input type="text" [(ngModel)]="passanger.Hotel_Name" name="passanger.Hotel_Name"  class="form-control" id="inputAddress2" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Pax name:</label>
        <input type="text" [(ngModel)]="passanger.Pax_Name" name="passanger.Pax_Name" class="form-control" id="Paxname" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Number Of Pax:</label>
        <input type="text" [(ngModel)]="passanger.Number_Of_Pax" name="passanger.Number_Of_Pax" class="form-control" id="Pax name" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Supplier reference:</label>
        <input type="text" [(ngModel)]="passanger.Supplier_reference" name="passanger.Supplier_reference" class="form-control" id="inputZip" >
      </div>
  
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
              <label for="inputZip">Room type:</label>
              <input type="text" [(ngModel)]="passanger.Room_type" name="passanger.Room_type" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Number of rooms:</label>
              <input type="text" [(ngModel)]="passanger.Number_of_rooms" name="passanger.Number_of_rooms" class="form-control" id="inputZip" >
          </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Leasuremant customer:</label>
            <input type="text" [(ngModel)]="passanger.Leasuremant_customer" name="passanger.Leasuremant_customer" class="form-control" id="inputZip" >
          </div>
        <div class="form-group col-md-3">
          <label for="inputCity">Contact_number:</label>
          <input type="text" [(ngModel)]="passanger.Contact_number" name="passanger.Contact_number" class="form-control" id="Paxname" >
        </div>

      </div>
      <div class="form-row">
          <div class="form-group col-md-2">
              <label for="inputState">Room number:</label>
              <input type="text" [(ngModel)]="passanger.Room_number" name="passanger.Room_number" class="form-control" id="Pax name">
            </div>
          <div class="form-group col-md-3">
            <label for="inputZip">Passenger type:</label>
            <input type="text" [(ngModel)]="passanger.Passenger_type" name="passanger.Passenger_type" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-2">
              <label for="inputZip">Check by REP:</label>
              <input type="checkbox" [(ngModel)]="passanger.Check_by_REP" name="passanger.Check_by_REP" class="form-control" id="inputZip" >
            </div>
          <div class="form-group col-md-2">
              <label for="inputZip">Check by LC:</label>
              <input type="checkbox" [(ngModel)]="passanger.Check_by_LC" name="passanger.Check_by_LC" class="form-control" id="inputZip" >
            </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Leaving from:</label>
              <input type="text" [(ngModel)]="passanger.Leaving_From" name="passanger.Leaving_From" class="form-control" id="inputZip" >
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="inputState">Supplier arrival:</label>
              <input type="text" [(ngModel)]="passanger.Supplier_Arrival" name="passanger.Supplier_Arrival" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-3">
            <label for="inputZip">DateTime arrival:</label>
            <input type="text" [(ngModel)]="passanger.DateTime_Arrival" name="passanger.DateTime_Arrival" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Terminal arrival:</label>
              <input type="text" [(ngModel)]="passanger.Terminal_Arrival" name="passanger.Terminal_Arrival" class="form-control" id="inputZip" >
            </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Car name arrival:</label>
              <input type="text" [(ngModel)]="passanger.Car_Name_Arrival" name="passanger.Car_Name_Arrival" class="form-control" id="inputZip" >
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="inputState">Car transfer type arrival:</label>
              <input type="text" [(ngModel)]="passanger.Car_Transfer_Type_Arrival" name="passanger.Car_Transfer_Type_Arrival" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-3">
            <label for="inputZip">Airline arrival:</label>
            <input type="text" [(ngModel)]="passanger.Airline_Arrival" name="passanger.Airline_Arrival" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Flight No. arrival:</label>
              <input type="text" [(ngModel)]="passanger.FlightNo_Arrival" name="passanger.FlightNo_Arrival" class="form-control" id="inputZip" >
            </div>
          <div class="form-group col-md-2">
              <label for="inputZip">Going to:</label>
              <input type="text" [(ngModel)]="passanger.Going_to" name="passanger.Going_to" class="form-control" id="inputZip">
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="inputState">Supplier Departure:</label>
              <input type="text" [(ngModel)]="passanger.Supplier_Departure" name="passanger.Supplier_Departure" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-3">
            <label for="inputZip">DateTime Departure:</label>
            <input type="text" [(ngModel)]="passanger.DateTime_Departure" name="passanger.DateTime_Departure" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Terminal departure:</label>
              <input type="text" [(ngModel)]="passanger.Terminal_Departure" name="passanger.Terminal_Departure" class="form-control" id="inputZip" >
            </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Car name departure:</label>
              <input type="text" [(ngModel)]="passanger.Car_Name_Departure" name="passanger.Car_Name_Departure" class="form-control" id="inputZip" >
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="inputState">Car transfer type departure:</label>
              <input type="text" [(ngModel)]="passanger.Car_Transfer_Type_Departure" name="passanger.Car_Transfer_Type_Departure" class="form-control" id="Pax name" >
            </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Airline departure:</label>
            <input type="text" [(ngModel)]="passanger.Airline_Departure" name="passanger.Airline_Departure" class="form-control" id="inputZip" >
          </div>
          <div class="form-group col-md-3">
              <label for="inputZip">Flight No. departure:</label>
              <input type="text" [(ngModel)]="passanger.FlightNo_Departure" name="passanger.FlightNo_Departure" class="form-control" id="inputZip" >
            </div>

      </div>

      <button class="btn btn-success float-right">Save</button>
    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
  </form>
  </div>
